PORT=4000
POSTGRES_USER=postgres
POSTGRES_PASSWORD=root
POSTGRES_DB=medicwait_db
POSTGRES_PORT=5432
POSTGRES_HOST=127.0.0.1

## MAIL
EMAIL_HOST=YOURHOST
EMAIL_USER=YOURUSER
EMAIL_PASS=YOURPASS
EMAIL_PORT=YOURPORT

## JWT SECRET
SUPER_SECRET=YOURSECRET
VERIFICATION_SECRET=YOURSECRET

## CORS
CLIENT_URL=http://localhost:5173
