PORT=yourport
POSTGRES_USER=yourpostgresuser
POSTGRES_PASSWORD=yourpostgrespassword
POSTGRES_DB=medicwait_db
POSTGRES_PORT=yourpostgresport
POSTGRES_HOST=yourpostgreshost

## MAIL
EMAIL_HOST=YOURHOST
EMAIL_USER=YOURUSER
EMAIL_PASS=YOURPASS
EMAIL_PORT=YOURPORT

## JWT SECRET
SUPER_SECRET=YOURSECRET
VERIFICATION_SECRET=YOURSECRET

## CORS
CLIENT_URL=http://localhost:5173

## OPEN ROUTER
OPEN_ROUTER_KEY=youropenrouterkey
OPEN_ROUTER_MODEL=youropenroutermodel

## SLOT REGENERATION CRON
SLOT_REGENERATION_CRON=0 0 * * 0
SLOT_REGENERATION_DAYS=7